<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" >
        <script src="js/frontapp.js"></script>
    </head>

    <body>
        {{>header}}
        <p>{{info}} </p>
        <img src="imgs/this-goes-hard.jpg">
        <p>This pic does so fucking hard you may screenshot</p>
     
    </body>
   
   
    <footer>
        {{>footer}}
    </footer>




</html>