<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css" >
        
    </head>
    
        <body>
            <div class="main content"></div>
            
                {{>header}}
                    <p>
                    Where do you want to get the weather from?
                    </p>
                    <form>
                        <input placeholder="Search for a city"> 
                        <button> Search </button>
                    </form>
                    <p id="message-1"></p>
                    <p id="message-2"></p>
                    <script src="js/frontapp.js"></script>

            </div>
        </body>
    
    
    <footer>
        {{>footer}}
    </footer>


</html>